a{
  text-decoration: none;
  outline: none;
}

.btn-info{
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 14px;
  color: white;
  background-color: cornflowerblue;
  text-align: center;
  font-weight: 400;
}

.btn-primay{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background-color: chartreuse;
  text-align: center;
  font-weight: 400;
  border-radius: 14px;
  border: none;
}


.hero{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  
  
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
  }

  .hero-slider{
    width: 100%;
    height: 100vh;
  }

  .hero-dis{
    text-align: center;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }

  .hero-dis h1{
    font-size: 100px;
    font-weight: 900;
  }

  .hero-dis p{
    font-size: 50px;
    font-weight: 500;
  }

  .hero-book{
    width: 80%;

  }

  
  