a{
  text-decoration: none;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
	font-family: 'Libre Bodoni', serif;
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btnhover,
:focus {
  color: #fff;
  outline: 0;
}

.btn-info{
  margin: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 14px;
  color: white;
  background-color: cornflowerblue;
  text-align: center;
  font-weight: 400;
}

.btn-primay{
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;

}
btn-primay:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}


.hero{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
  }
  
  
  div#slider { overflow: hidden; }
  div#slider figure img { width: 20%; float: left; }
  div#slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
  }

  .hero-slider{
    width: 100%;
    height: 100vh;
  }

  .hero-dis{
    text-align: center;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
  }

  .hero-dis h1{
    font-size: 100px;
    font-weight: 900;
  }

  .hero-dis p{
    font-size: 50px;
    font-weight: 500;
  }

  .hero-book{
    width: 80%;

  }
.hotelname {
  width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;

}

.hotelname h1{
  font-size: 120px;
  color:#fff;
  font-family: 'Pacifico', cursive;
}

.hotelname p{
margin: 10px 0 40px;
	font-size: 30px;
	color: #fff;
  font-family: 'Tangerine', cursive;
}

.After{
  width: 80%;
  margin: auto;
  text-align: center;
  
     }
     .After h1{
 font-size: 40px;
 font-weight: 750;
 font-family: 'Tapestry', cursive;
 text-decoration: underline;
 }
 .After p{
 font-size: 22px;
 font-weight: 300;
 line-height: 30px;
 padding: 10px;
 display: block;
 text-align: justify;
 font-family: 'Heebo', sans-serif;
 
 }
 .row1{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
 .row2{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
 .course-col img{
   width: 260px;
   height: 220px;
 }

 .course-col p{
  font-family: 'Amiri', serif;
  font-size: 20px;

 }
 .course-col{
   flex-basis: 31%;
   background: #E8DAEF;
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;
 }

 button{
   color: #fff;
   background-color: #68A0DE;
   box-shadow: inset 0 -8px 0 0 rgba(0,0,0,0.2);
   transition: 0.1s;
   text-shadow: 0px 3px rgba(0,0,0,0.2);
 }
button:hover{
  box-shadow: inset 0 -6px 0 0 rgba(0,0,0,0.2);
}
 button:active
 {
   box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2);
   text-shadow: 0px 1px rgba(0,0,0,0.2);
 }
 
 .cata{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
 }

 .title{
   margin-left: 5%;
 }
 
 .title h1{
  font-size: 30px;
  font-weight: 750;
  font-family: 'Tapestry', cursive;
  text-align: center;
  
 }

 .title p{
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  padding: 10px;
  display: block;
  text-align: justify;
  font-family: 'Heebo', sans-serif;
 }

 .imgblock{
   
   justify-content: space-between;
   display: flex;
   margin-left: 150px;
   margin-right: 200px;
 }
 .imgblock2{
  margin-top: 5%;
   justify-content: space-between;
   display: flex;
   margin-left: 150px;
   margin-right: 200px;
}
.cata1 img{
  width: 450px;
  height: 450px;
  
}
.cata1{
  flex-basis: 31%;
   background: #00ff99;
   border-radius: 10px;
   margin-bottom: 5%;
   margin-top: 3%;
   margin-right: 7%;
   margin-left: 7%;
   padding: 30px 12px;
   box-sizing: content-box;
}

.cata2{
  margin-top: 2%;
  margin-left: 20%;
}

.cata2 h3{
  text-align: left;
  color: #3498db;
}

.cata2 ul li{
  font-size: 20px;
}
.catalux{
  flex-basis: 31%;
   background: #6699ff;
   border-radius: 10px;
   margin-bottom: 5%;
   margin-top: 3%;
   margin-right: 7%;
   margin-left: 7%;
   padding: 30px 12px;
   box-sizing: content-box;
}
.catalux img{
  width: 450px;
  height: 450px;}
  .catafam{
    flex-basis: 31%;
   background: #ffccff;
   border-radius: 10px;
   margin-bottom: 5%;
   margin-top: 3%;
   margin-right: 7%;
   margin-left: 7%;
   padding: 30px 12px;
   box-sizing: content-box;
  }
  .catafam img{
    width: 450px;
    height: 450px;}
   .catajun{
      flex-basis: 31%;
     background:#ffff4d;
     border-radius: 10px;
     margin-bottom: 5%;
     margin-top: 3%;
     margin-right: 7%;
     margin-left: 7%;
     padding: 30px 12px;
     box-sizing: content-box;
    }
    .catajun img{
      width: 450px;
      height: 450px;}

      .cataluxsuite{
        flex-basis: 31%;
       background:#b8b894;
       border-radius: 10px;
       margin-bottom: 5%;
       margin-top: 3%;
       margin-right: 7%;
       margin-left: 7%;
       padding: 30px 12px;
       box-sizing: content-box;
      }
      .cataluxsuite img{
        width: 450px;
        height: 450px;}
      
        .catamount{
          flex-basis: 31%;
         background:#cc66ff;
         border-radius: 10px;
         margin-bottom: 5%;
         margin-top: 3%;
         margin-right: 7%;
         margin-left: 7%;
         padding: 30px 12px;
         box-sizing: content-box;
        }
        .catamount img{
          width: 450px;
          height: 450px;}